In [1]:
try:
  from bs4 import BeautifulSoup as bf
  import requests as re

except Exception as e:
  print(f'Error Importing Packages!? \n\n{e}')

In [3]:
url = 'https://www.worldometers.info/coronavirus/#countries'
page = re.get(url)
print(f'Response Code: {page}')

Response Code: <Response [200]>

In [5]:
soup = bf(page.content, 'html.parser')
print(f'Content of the page: \n\n{soup}')

Content of the page:


<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Coronavirus Update (Live): 123,174,349 Cases and 2,717,107 Deaths from COVID-19 Virus Pandemic - Worldometer</title>
<meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</link></meta></head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script>
<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="/js/highcharts.js"></script>
<style type="text/css">
    <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: March 20, 2021, 18:07 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a href="/coronavirus/coronavirus-cases/"> </a><a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">123,174,349 </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>2,717,107</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>99,269,274</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
</style>
<script>
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
Active Cases
</span>
</div>
<div class="panel-body" style="text-align:center; height:200px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">21,187,968</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">21,098,357</span> (<strong>99.6</strong>%)
<div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">89,611</span> (<strong>0.4</strong>%)
<div style="font-size:13px">Serious or Critical</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="total-currently-infected-linear"></div>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22, 2020","Jan 23, 2020","Jan 24, 2020","Jan 25, 2020","Jan 26, 2020","Jan 27, 2020","Jan 28, 2020","Jan 29, 2020","Jan 30, 2020","Jan 31, 2020","Feb 01, 2020","Feb 02, 2020","Feb 03, 2020","Feb 04, 2020","Feb 05, 2020","Feb 06, 2020","Feb 07, 2020","Feb 08, 2020","Feb 09, 2020","Feb 10, 2020","Feb 11, 2020","Feb 12, 2020","Feb 13, 2020","Feb 14, 2020","Feb 15, 2020","Feb 16, 2020","Feb 17, 2020","Feb 18, 2020","Feb 19, 2020","Feb 20, 2020","Feb 21, 2020","Feb 22, 2020","Feb 23, 2020","Feb 24, 2020","Feb 25, 2020","Feb 26, 2020","Feb 27, 2020","Feb 28, 2020","Feb 29, 2020","Mar 01, 2020","Mar 02, 2020","Mar 03, 2020","Mar 04, 2020","Mar 05, 2020","Mar 06, 2020","Mar 07, 2020","Mar 08, 2020","Mar 09, 2020","Mar 10, 2020","Mar 11, 2020","Mar 12, 2020","Mar 13, 2020","Mar 14, 2020","Mar 15, 2020","Mar 16, 2020","Mar 17, 2020","Mar 18, 2020","Mar 19, 2020","Mar 20, 2020","Mar 21, 2020","Mar 22, 2020","Mar 23, 2020","Mar 24, 2020","Mar 25, 2020","Mar 26, 2020","Mar 27, 2020","Mar 28, 2020","Mar 29, 2020","Mar 30, 2020","Mar 31, 2020","Apr 01, 2020","Apr 02, 2020","Apr 03, 2020","Apr 04, 2020","Apr 05, 2020","Apr 06, 2020","Apr 07, 2020","Apr 08, 2020","Apr 09, 2020","Apr 10, 2020","Apr 11, 2020","Apr 12, 2020","Apr 13, 2020","Apr 14, 2020","Apr 15, 2020","Apr 16, 2020","Apr 17, 2020","Apr 18, 2020","Apr 19, 2020","Apr 20, 2020","Apr 21, 2020","Apr 22, 2020","Apr 23, 2020","Apr 24, 2020","Apr 25, 2020","Apr 26, 2020","Apr 27, 2020","Apr 28, 2020","Apr 29, 2020","Apr 30, 2020","May 01, 2020","May 02, 2020","May 03, 2020","May 04, 2020","May 05, 2020","May 06, 2020","May 07, 2020","May 08, 2020","May 09, 2020","May 10, 2020","May 11, 2020","May 12, 2020","May 13, 2020","May 14, 2020","May 15, 2020","May 16, 2020","May 17, 2020","May 18, 2020","May 19, 2020","May 20, 2020","May 21, 2020","May 22, 2020","May 23, 2020","May 24, 2020","May 25, 2020","May 26, 2020","May 27, 2020","May 28, 2020","May 29, 2020","May 30, 2020","May 31, 2020","Jun 01, 2020","Jun 02, 2020","Jun 03, 2020","Jun 04, 2020","Jun 05, 2020","Jun 06, 2020","Jun 07, 2020","Jun 08, 2020","Jun 09, 2020","Jun 10, 2020","Jun 11, 2020","Jun 12, 2020","Jun 13, 2020","Jun 14, 2020","Jun 15, 2020","Jun 16, 2020","Jun 17, 2020","Jun 18, 2020","Jun 19, 2020","Jun 20, 2020","Jun 21, 2020","Jun 22, 2020","Jun 23, 2020","Jun 24, 2020","Jun 25, 2020","Jun 26, 2020","Jun 27, 2020","Jun 28, 2020","Jun 29, 2020","Jun 30, 2020","Jul 01, 2020","Jul 02, 2020","Jul 03, 2020","Jul 04, 2020","Jul 05, 2020","Jul 06, 2020","Jul 07, 2020","Jul 08, 2020","Jul 09, 2020","Jul 10, 2020","Jul 11, 2020","Jul 12, 2020","Jul 13, 2020","Jul 14, 2020","Jul 15, 2020","Jul 16, 2020","Jul 17, 2020","Jul 18, 2020","Jul 19, 2020","Jul 20, 2020","Jul 21, 2020","Jul 22, 2020","Jul 23, 2020","Jul 24, 2020","Jul 25, 2020","Jul 26, 2020","Jul 27, 2020","Jul 28, 2020","Jul 29, 2020","Jul 30, 2020","Jul 31, 2020","Aug 01, 2020","Aug 02, 2020","Aug 03, 2020","Aug 04, 2020","Aug 05, 2020","Aug 06, 2020","Aug 07, 2020","Aug 08, 2020","Aug 09, 2020","Aug 10, 2020","Aug 11, 2020","Aug 12, 2020","Aug 13, 2020","Aug 14, 2020","Aug 15, 2020","Aug 16, 2020","Aug 17, 2020","Aug 18, 2020","Aug 19, 2020","Aug 20, 2020","Aug 21, 2020","Aug 22, 2020","Aug 23, 2020","Aug 24, 2020","Aug 25, 2020","Aug 26, 2020","Aug 27, 2020","Aug 28, 2020","Aug 29, 2020","Aug 30, 2020","Aug 31, 2020","Sep 01, 2020","Sep 02, 2020","Sep 03, 2020","Sep 04, 2020","Sep 05, 2020","Sep 06, 2020","Sep 07, 2020","Sep 08, 2020","Sep 09, 2020","Sep 10, 2020","Sep 11, 2020","Sep 12, 2020","Sep 13, 2020","Sep 14, 2020","Sep 15, 2020","Sep 16, 2020","Sep 17, 2020","Sep 18, 2020","Sep 19, 2020","Sep 20, 2020","Sep 21, 2020","Sep 22, 2020","Sep 23, 2020","Sep 24, 2020","Sep 25, 2020","Sep 26, 2020","Sep 27, 2020","Sep 28, 2020","Sep 29, 2020","Sep 30, 2020","Oct 01, 2020","Oct 02, 2020","Oct 03, 2020","Oct 04, 2020","Oct 05, 2020","Oct 06, 2020","Oct 07, 2020","Oct 08, 2020","Oct 09, 2020","Oct 10, 2020","Oct 11, 2020","Oct 12, 2020","Oct 13, 2020","Oct 14, 2020","Oct 15, 2020","Oct 16, 2020","Oct 17, 2020","Oct 18, 2020","Oct 19, 2020","Oct 20, 2020","Oct 21, 2020","Oct 22, 2020","Oct 23, 2020","Oct 24, 2020","Oct 25, 2020","Oct 26, 2020","Oct 27, 2020","Oct 28, 2020","Oct 29, 2020","Oct 30, 2020","Oct 31, 2020","Nov 01, 2020","Nov 02, 2020","Nov 03, 2020","Nov 04, 2020","Nov 05, 2020","Nov 06, 2020","Nov 07, 2020","Nov 08, 2020","Nov 09, 2020","Nov 10, 2020","Nov 11, 2020","Nov 12, 2020","Nov 13, 2020","Nov 14, 2020","Nov 15, 2020","Nov 16, 2020","Nov 17, 2020","Nov 18, 2020","Nov 19, 2020","Nov 20, 2020","Nov 21, 2020","Nov 22, 2020","Nov 23, 2020","Nov 24, 2020","Nov 25, 2020","Nov 26, 2020","Nov 27, 2020","Nov 28, 2020","Nov 29, 2020","Nov 30, 2020","Dec 01, 2020","Dec 02, 2020","Dec 03, 2020","Dec 04, 2020","Dec 05, 2020","Dec 06, 2020","Dec 07, 2020","Dec 08, 2020","Dec 09, 2020","Dec 10, 2020","Dec 11, 2020","Dec 12, 2020","Dec 13, 2020","Dec 14, 2020","Dec 15, 2020","Dec 16, 2020","Dec 17, 2020","Dec 18, 2020","Dec 19, 2020","Dec 20, 2020","Dec 21, 2020","Dec 22, 2020","Dec 23, 2020","Dec 24, 2020","Dec 25, 2020","Dec 26, 2020","Dec 27, 2020","Dec 28, 2020","Dec 29, 2020","Dec 30, 2020","Dec 31, 2020","Jan 01, 2021","Jan 02, 2021","Jan 03, 2021","Jan 04, 2021","Jan 05, 2021","Jan 06, 2021","Jan 07, 2021","Jan 08, 2021","Jan 09, 2021","Jan 10, 2021","Jan 11, 2021","Jan 12, 2021","Jan 13, 2021","Jan 14, 2021","Jan 15, 2021","Jan 16, 2021","Jan 17, 2021","Jan 18, 2021","Jan 19, 2021","Jan 20, 2021","Jan 21, 2021","Jan 22, 2021","Jan 23, 2021","Jan 24, 2021","Jan 25, 2021","Jan 26, 2021","Jan 27, 2021","Jan 28, 2021","Jan 29, 2021","Jan 30, 2021","Jan 31, 2021","Feb 01, 2021","Feb 02, 2021","Feb 03, 2021","Feb 04, 2021","Feb 05, 2021","Feb 06, 2021","Feb 07, 2021","Feb 08, 2021","Feb 09, 2021","Feb 10, 2021","Feb 11, 2021","Feb 12, 2021","Feb 13, 2021","Feb 14, 2021","Feb 15, 2021","Feb 16, 2021","Feb 17, 2021","Feb 18, 2021","Feb 19, 2021","Feb 20, 2021","Feb 21, 2021","Feb 22, 2021","Feb 23, 2021","Feb 24, 2021","Feb 25, 2021","Feb 26, 2021","Feb 27, 2021","Feb 28, 2021","Mar 01, 2021","Mar 02, 2021","Mar 03, 2021","Mar 04, 2021","Mar 05, 2021","Mar 06, 2021","Mar 07, 2021","Mar 08, 2021","Mar 09, 2021","Mar 10, 2021","Mar 11, 2021","Mar 12, 2021","Mar 13, 2021","Mar 14, 2021","Mar 15, 2021","Mar 16, 2021","Mar 17, 2021","Mar 18, 2021","Mar 19, 2021"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false

In [6]:
results = soup.find(id="main_table_countries_today")
print(f'Content of the tabel: \n\n{results}')

Content of the tabel:

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">New<br>Recovered</br></th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">TotCases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>34,996,326</td>
<td>+20,606</td>
<td>801,844</td>
<td>+787</td>
<td>26,401,361</td>
<td>+10,381</td>
<td>7,793,121</td>
<td>15,564</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>19,841,162</td>
<td>+9,128</td>
<td>513,697</td>
<td>+129</td>
<td>17,714,739</td>
<td>+7,210</td>
<td>1,612,726</td>
<td>19,593</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>26,830,960</td>
<td>+110,470</td>
<td>415,450</td>
<td>+813</td>
<td>24,979,822</td>
<td>+80,977</td>
<td>1,435,688</td>
<td>23,466</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>37,328,520</td>
<td>+149,755</td>
<td>875,237</td>
<td>+2,338</td>
<td>26,452,632</td>
<td>+113,337</td>
<td>10,000,651</td>
<td>28,374</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>4,122,851</td>
<td>+3,671</td>
<td>109,749</td>
<td>+49</td>
<td>3,685,567</td>
<td>+2,716</td>
<td>327,535</td>
<td>2,607</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>53,809</td>
<td>+316</td>
<td>1,115</td>
<td>+1</td>
<td>34,447</td>
<td>+7</td>
<td>18,247</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>123,174,349</td>
<td>+293,946</td>
<td>2,717,107</td>
<td>+4,117</td>
<td>99,269,274</td>
<td>+214,628</td>
<td>21,187,968</td>
<td>89,611</td>
<td>15,802</td>
<td>348.6</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<td>
</td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">30,434,541</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,754</td>
<td style="font-weight: bold; text-align:right;">554,196 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+92</td>
<td style="font-weight: bold; text-align:right">22,612,032</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,707</td>
<td style="text-align:right;font-weight:bold;">7,268,313</td>
<td style="font-weight: bold; text-align:right">9,054</td>
<td style="font-weight: bold; text-align:right">91,563</td>
<td style="font-weight: bold; text-align:right">1,667</td>
<td style="font-weight: bold; text-align:right">387,534,674</td>
<td style="font-weight: bold; text-align:right">1,165,907</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,389,130</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<td>11</td><td>600</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">11,877,009</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">290,525 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">10,383,460</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,203,024</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">55,594</td>
<td style="font-weight: bold; text-align:right">1,360</td>
<td style="font-weight: bold; text-align:right">28,600,000</td>
<td style="font-weight: bold; text-align:right">133,871</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,638,142</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>18</td><td>735</td><td>7</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">11,590,373</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+35,478</td>
<td style="font-weight: bold; text-align:right;">159,728 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+134</td>
<td style="font-weight: bold; text-align:right">11,124,465</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+19,316</td>
<td style="text-align:right;font-weight:bold;">306,180</td>
<td style="font-weight: bold; text-align:right">8,944</td>
<td style="font-weight: bold; text-align:right">8,340</td>
<td style="font-weight: bold; text-align:right">115</td>
<td style="font-weight: bold; text-align:right">232,431,517</td>
<td style="font-weight: bold; text-align:right">167,256</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,389,679,065</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>120</td><td>8,700</td><td>6</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">4,447,570</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+9,632</td>
<td style="font-weight: bold; text-align:right;">94,659 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+392</td>
<td style="font-weight: bold; text-align:right">4,060,652</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+11,279</td>
<td style="text-align:right;font-weight:bold;">292,259</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">30,467</td>
<td style="font-weight: bold; text-align:right">648</td>
<td style="font-weight: bold; text-align:right">117,000,000</td>
<td style="font-weight: bold; text-align:right">801,484</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,979,262</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>33</td><td>1,542</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">4,291,271</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,587</td>
<td style="font-weight: bold; text-align:right;">126,122 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+96</td>
<td style="font-weight: bold; text-align:right">3,650,226</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+28,733</td>
<td style="text-align:right;font-weight:bold;">514,923</td>
<td style="font-weight: bold; text-align:right">830</td>
<td style="font-weight: bold; text-align:right">62,977</td>
<td style="font-weight: bold; text-align:right">1,851</td>
<td style="font-weight: bold; text-align:right">112,493,147</td>
<td style="font-weight: bold; text-align:right">1,650,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,140,807</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>16</td><td>540</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">4,181,607</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">91,679 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">278,263</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3,811,665</td>
<td style="font-weight: bold; text-align:right">4,246</td>
<td style="font-weight: bold; text-align:right">63,962</td>
<td style="font-weight: bold; text-align:right">1,402</td>
<td style="font-weight: bold; text-align:right">58,498,845</td>
<td style="font-weight: bold; text-align:right">894,795</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,376,842</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>16</td><td>713</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">3,356,331</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+23,832</td>
<td style="font-weight: bold; text-align:right;">104,642  </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+401</td>
<td style="font-weight: bold; text-align:right">2,686,236</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+14,598</td>
<td style="text-align:right;font-weight:bold;">565,453</td>
<td style="font-weight: bold; text-align:right">3,387</td>
<td style="font-weight: bold; text-align:right">55,570</td>
<td style="font-weight: bold; text-align:right">1,733</td>
<td style="font-weight: bold; text-align:right">46,613,817</td>
<td style="font-weight: bold; text-align:right">771,776</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,398,128</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>18</td><td>577</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
<td style="font-weight: bold; text-align:right">3,212,332</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">72,910 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,945,446</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">193,976</td>
<td style="font-weight: bold; text-align:right">1,997</td>
<td style="font-weight: bold; text-align:right">68,687</td>
<td style="font-weight: bold; text-align:right">1,559</td>
<td style="font-weight: bold; text-align:right">41,114,319</td>
<td style="font-weight: bold; text-align:right">879,117</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,767,743</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>15</td><td>641</td><td>1</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">2,992,694</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+21,061</td>
<td style="font-weight: bold; text-align:right;">29,959 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+95</td>
<td style="font-weight: bold; text-align:right">2,807,572</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+18,815</td>
<td style="text-align:right;font-weight:bold;">155,163</td>
<td style="font-weight: bold; text-align:right">1,538</td>
<td style="font-weight: bold; text-align:right">35,214</td>
<td style="font-weight: bold; text-align:right">353</td>
<td style="font-weight: bold; text-align:right">36,165,468</td>
<td style="font-weight: bold; text-align:right">425,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,985,927</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>28</td><td>2,837</td><td>2</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">2,650,111</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,925</td>
<td style="font-weight: bold; text-align:right;">75,121 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+48</td>
<td style="font-weight: bold; text-align:right">2,409,700</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,000</td>
<td style="text-align:right;font-weight:bold;">165,290</td>
<td style="font-weight: bold; text-align:right">2,848</td>
<td style="font-weight: bold; text-align:right">31,558</td>
<td style="font-weight: bold; text-align:right">895</td>
<td style="font-weight: bold; text-align:right">47,578,793</td>
<td style="font-weight: bold; text-align:right">566,579</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,975,524</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>32</td><td>1,118</td><td>2</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>
<td style="font-weight: bold; text-align:right">2,324,426</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">61,771 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,221,642</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">41,013</td>
<td style="font-weight: bold; text-align:right">1,982</td>
<td style="font-weight: bold; text-align:right">45,337</td>
<td style="font-weight: bold; text-align:right">1,205</td>
<td style="font-weight: bold; text-align:right">12,186,850</td>
<td style="font-weight: bold; text-align:right">237,702</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,269,474</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>22</td><td>830</td><td>4</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
<td style="font-weight: bold; text-align:right">2,234,913</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">54,476 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">2,016,729</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">163,708</td>
<td style="font-weight: bold; text-align:right">3,534</td>
<td style="font-weight: bold; text-align:right">49,128</td>
<td style="font-weight: bold; text-align:right">1,197</td>
<td style="font-weight: bold; text-align:right">8,251,376</td>
<td style="font-weight: bold; text-align:right">181,382</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,491,590</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>20</td><td>835</td><td>6</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>
<td style="font-weight: bold; text-align:right">2,187,910</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,722</td>
<td style="font-weight: bold; text-align:right;">197,219 </td>

In [8]:
content = results.find_all('td')
print(f'Content of the columns: \n\n{content}')

Content of the columns:

[<td></td>, <td style="text-align:left;">
<nobr>North America</nobr>
</td>, <td>34,996,326</td>, <td>+20,606</td>, <td>801,844</td>, <td>+787</td>, <td>26,401,361</td>, <td>+10,381</td>, <td>7,793,121</td>, <td>15,564</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="North America" style="display:none;">North America</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr>South America</nobr>
</td>, <td>19,841,162</td>, <td>+9,128</td>, <td>513,697</td>, <td>+129</td>, <td>17,714,739</td>, <td>+7,210</td>, <td>1,612,726</td>, <td>19,593</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="South America" style="display:none;">South America</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr>Asia</nobr>
</td>, <td>26,830,960</td>, <td>+110,470</td>, <td>415,450</td>, <td>+813</td>, <td>24,979,822</td>, <td>+80,977</td>, <td>1,435,688</td>, <td>23,466</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="Asia" style="display:none;">Asia</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr>Europe</nobr>
</td>, <td>37,328,520</td>, <td>+149,755</td>, <td>875,237</td>, <td>+2,338</td>, <td>26,452,632</td>, <td>+113,337</td>, <td>10,000,651</td>, <td>28,374</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="Europe" style="display:none;">Europe</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr>Africa</nobr>
</td>, <td>4,122,851</td>, <td>+3,671</td>, <td>109,749</td>, <td>+49</td>, <td>3,685,567</td>, <td>+2,716</td>, <td>327,535</td>, <td>2,607</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="Africa" style="display:none;">Africa</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr>Oceania</nobr>
</td>, <td>53,809</td>, <td>+316</td>, <td>1,115</td>, <td>+1</td>, <td>34,447</td>, <td>+7</td>, <td>18,247</td>, <td>7</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">
<nobr></nobr>
</td>, <td>721</td>, <td></td>, <td>15</td>, <td></td>, <td>706</td>, <td></td>, <td>0</td>, <td>0</td>, <td></td>, <td></td>, <td></td>, <td></td>, <td></td>, <td data-continent="" style="display:none;"></td>, <td>
</td>, <td></td>, <td></td>, <td></td>, <td style="text-align:left;">World</td>, <td>123,174,349</td>, <td>+293,946</td>, <td>2,717,107</td>, <td>+4,117</td>, <td>99,269,274</td>, <td>+214,628</td>, <td>21,187,968</td>, <td>89,611</td>, <td>15,802</td>, <td>348.6</td>, <td></td>, <td></td>, <td></td>, <td data-continent="all" style="display:none">All</td>, <td>
</td>, <td></td>, <td></td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>, <td style="font-weight: bold; text-align:right">30,434,541</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,754</td>, <td style="font-weight: bold; text-align:right;">554,196 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+92</td>, <td style="font-weight: bold; text-align:right">22,612,032</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,707</td>, <td style="text-align:right;font-weight:bold;">7,268,313</td>, <td style="font-weight: bold; text-align:right">9,054</td>, <td style="font-weight: bold; text-align:right">91,563</td>, <td style="font-weight: bold; text-align:right">1,667</td>, <td style="font-weight: bold; text-align:right">387,534,674</td>, <td style="font-weight: bold; text-align:right">1,165,907</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">332,389,130</a> </td>, <td data-continent="North America" style="display:none">North America</td>, <td>11</td>, <td>600</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>, <td style="font-weight: bold; text-align:right">11,877,009</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="font-weight: bold; text-align:right;">290,525 </td>, <td style="font-weight: bold;
                                    text-align:right;"></td>, <td style="font-weight: bold; text-align:right">10,383,460</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="text-align:right;font-weight:bold;">1,203,024</td>, <td style="font-weight: bold; text-align:right">8,318</td>, <td style="font-weight: bold; text-align:right">55,594</td>, <td style="font-weight: bold; text-align:right">1,360</td>, <td style="font-weight: bold; text-align:right">28,600,000</td>, <td style="font-weight: bold; text-align:right">133,871</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">213,638,142</a> </td>, <td data-continent="South America" style="display:none">South America</td>, <td>18</td>, <td>735</td>, <td>7</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>, <td style="font-weight: bold; text-align:right">11,590,373</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+35,478</td>, <td style="font-weight: bold; text-align:right;">159,728 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+134</td>, <td style="font-weight: bold; text-align:right">11,124,465</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+19,316</td>, <td style="text-align:right;font-weight:bold;">306,180</td>, <td style="font-weight: bold; text-align:right">8,944</td>, <td style="font-weight: bold; text-align:right">8,340</td>, <td style="font-weight: bold; text-align:right">115</td>, <td style="font-weight: bold; text-align:right">232,431,517</td>, <td style="font-weight: bold; text-align:right">167,256</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,389,679,065</a> </td>, <td data-continent="Asia" style="display:none">Asia</td>, <td>120</td>, <td>8,700</td>, <td>6</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>, <td style="font-weight: bold; text-align:right">4,447,570</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+9,632</td>, <td style="font-weight: bold; text-align:right;">94,659 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+392</td>, <td style="font-weight: bold; text-align:right">4,060,652</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+11,279</td>, <td style="text-align:right;font-weight:bold;">292,259</td>, <td style="font-weight: bold; text-align:right">2,300</td>, <td style="font-weight: bold; text-align:right">30,467</td>, <td style="font-weight: bold; text-align:right">648</td>, <td style="font-weight: bold; text-align:right">117,000,000</td>, <td style="font-weight: bold; text-align:right">801,484</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,979,262</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>33</td>, <td>1,542</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>, <td style="font-weight: bold; text-align:right">4,291,271</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,587</td>, <td style="font-weight: bold; text-align:right;">126,122 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+96</td>, <td style="font-weight: bold; text-align:right">3,650,226</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+28,733</td>, <td style="text-align:right;font-weight:bold;">514,923</td>, <td style="font-weight: bold; text-align:right">830</td>, <td style="font-weight: bold; text-align:right">62,977</td>, <td style="font-weight: bold; text-align:right">1,851</td>, <td style="font-weight: bold; text-align:right">112,493,147</td>, <td style="font-weight: bold; text-align:right">1,650,892</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,140,807</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>16</td>, <td>540</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>, <td style="font-weight: bold; text-align:right">4,181,607</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="font-weight: bold; text-align:right;">91,679 </td>, <td style="font-weight: bold;
                                    text-align:right;"></td>, <td style="font-weight: bold; text-align:right">278,263</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="text-align:right;font-weight:bold;">3,811,665</td>, <td style="font-weight: bold; text-align:right">4,246</td>, <td style="font-weight: bold; text-align:right">63,962</td>, <td style="font-weight: bold; text-align:right">1,402</td>, <td style="font-weight: bold; text-align:right">58,498,845</td>, <td style="font-weight: bold; text-align:right">894,795</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,376,842</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>16</td>, <td>713</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>, <td style="font-weight: bold; text-align:right">3,356,331</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+23,832</td>, <td style="font-weight: bold; text-align:right;">104,642  </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+401</td>, <td style="font-weight: bold; text-align:right">2,686,236</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+14,598</td>, <td style="text-align:right;font-weight:bold;">565,453</td>, <td style="font-weight: bold; text-align:right">3,387</td>, <td style="font-weight: bold; text-align:right">55,570</td>, <td style="font-weight: bold; text-align:right">1,733</td>, <td style="font-weight: bold; text-align:right">46,613,817</td>, <td style="font-weight: bold; text-align:right">771,776</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,398,128</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>18</td>, <td>577</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>, <td style="font-weight: bold; text-align:right">3,212,332</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="font-weight: bold; text-align:right;">72,910 </td>, <td style="font-weight: bold;
                                    text-align:right;"></td>, <td style="font-weight: bold; text-align:right">2,945,446</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="text-align:right;font-weight:bold;">193,976</td>, <td style="font-weight: bold; text-align:right">1,997</td>, <td style="font-weight: bold; text-align:right">68,687</td>, <td style="font-weight: bold; text-align:right">1,559</td>, <td style="font-weight: bold; text-align:right">41,114,319</td>, <td style="font-weight: bold; text-align:right">879,117</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,767,743</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>15</td>, <td>641</td>, <td>1</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>, <td style="font-weight: bold; text-align:right">2,992,694</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+21,061</td>, <td style="font-weight: bold; text-align:right;">29,959 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+95</td>, <td style="font-weight: bold; text-align:right">2,807,572</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+18,815</td>, <td style="text-align:right;font-weight:bold;">155,163</td>, <td style="font-weight: bold; text-align:right">1,538</td>, <td style="font-weight: bold; text-align:right">35,214</td>, <td style="font-weight: bold; text-align:right">353</td>, <td style="font-weight: bold; text-align:right">36,165,468</td>, <td style="font-weight: bold; text-align:right">425,547</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,985,927</a> </td>, <td data-continent="Asia" style="display:none">Asia</td>, <td>28</td>, <td>2,837</td>, <td>2</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>, <td style="font-weight: bold; text-align:right">2,650,111</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+4,925</td>, <td style="font-weight: bold; text-align:right;">75,121 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+48</td>, <td style="font-weight: bold; text-align:right">2,409,700</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+8,000</td>, <td style="text-align:right;font-weight:bold;">165,290</td>, <td style="font-weight: bold; text-align:right">2,848</td>, <td style="font-weight: bold; text-align:right">31,558</td>, <td style="font-weight: bold; text-align:right">895</td>, <td style="font-weight: bold; text-align:right">47,578,793</td>, <td style="font-weight: bold; text-align:right">566,579</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,975,524</a> </td>, <td data-continent="Europe" style="display:none">Europe</td>, <td>32</td>, <td>1,118</td>, <td>2</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/colombia/">Colombia</a></td>, <td style="font-weight: bold; text-align:right">2,324,426</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="font-weight: bold; text-align:right;">61,771 </td>, <td style="font-weight: bold;
                                    text-align:right;"></td>, <td style="font-weight: bold; text-align:right">2,221,642</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="text-align:right;font-weight:bold;">41,013</td>, <td style="font-weight: bold; text-align:right">1,982</td>, <td style="font-weight: bold; text-align:right">45,337</td>, <td style="font-weight: bold; text-align:right">1,205</td>, <td style="font-weight: bold; text-align:right">12,186,850</td>, <td style="font-weight: bold; text-align:right">237,702</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/colombia-population/">51,269,474</a> </td>, <td data-continent="South America" style="display:none">South America</td>, <td>22</td>, <td>830</td>, <td>4</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>, <td style="font-weight: bold; text-align:right">2,234,913</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="font-weight: bold; text-align:right;">54,476 </td>, <td style="font-weight: bold;
                                    text-align:right;"></td>, <td style="font-weight: bold; text-align:right">2,016,729</td>, <td style="font-weight: bold; text-align:right;"></td>, <td style="text-align:right;font-weight:bold;">163,708</td>, <td style="font-weight: bold; text-align:right">3,534</td>, <td style="font-weight: bold; text-align:right">49,128</td>, <td style="font-weight: bold; text-align:right">1,197</td>, <td style="font-weight: bold; text-align:right">8,251,376</td>, <td style="font-weight: bold; text-align:right">181,382</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/argentina-population/">45,491,590</a> </td>, <td data-continent="South America" style="display:none">South America</td>, <td>20</td>, <td>835</td>, <td>6</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/mexico/">Mexico</a></td>, <td style="font-weight: bold; text-align:right">2,187,910</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+5,722</td>, <td style="font-weight: bold; text-align:right;">197,219 </td>, <td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+613</td>, <td style="font-weight: bold; text-align:right">1,729,269</td>, <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4,475</td>, <td style="text-align:right;font-weight:bold;">261,422</td>, <td style="font-weight: bold; text-align:right">4,798</td>, <td style="font-weight: bold; text-align:right">16,843</td>, <td style="font-weight: bold; text-align:right">1,518</td>, <td style="font-weight: bold; text-align:right">5,865,279</td>, <td style="font-weight: bold; text-align:right">45,153</td>, <td style="font-weight: bold; text-align:right"><a href="/world-population/mexico-population/">129,898,398</a> </td>, <td data-continent="North America" style="display:none">North America</td>, <td>59</td>, <td>659</td>, <td>22</td>, <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>, <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/poland/">Poland</a></td>, <td style="font-weight: bold; text-align:right">2,036,700</td>, <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+26,405</td>, <td style="font-weight: bold; text-align:right;">49,159 </td>, <td style="font-weight: bold;

In [11]:
data = []
i = 0
for item in content:
  data.append(item.text.strip())
  i+=1
  print(f'Line: {i}, \n{item}\n')

Streaming output truncated to the last 5000 lines.

Line: 2864,
<td style="font-weight: bold; text-align:right">7,733</td>

Line: 2865,
<td style="font-weight: bold; text-align:right"><a href="/world-population/mali-population/">20,662,940</a> </td>

Line: 2866,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 2867,
<td>2,229</td>

Line: 2868,
<td>56,302</td>

Line: 2869,
<td>129</td>

Line: 2870,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">144</td>

Line: 2871,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/suriname/">Suriname</a></td>

Line: 2872,
<td style="font-weight: bold; text-align:right">9,055</td>

Line: 2873,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2874,
<td style="font-weight: bold; text-align:right;">176 </td>

Line: 2875,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2876,
<td style="font-weight: bold; text-align:right">8,537</td>

Line: 2877,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2878,
<td style="text-align:right;font-weight:bold;">342</td>

Line: 2879,
<td style="font-weight: bold; text-align:right">3</td>

Line: 2880,
<td style="font-weight: bold; text-align:right">15,338</td>

Line: 2881,
<td style="font-weight: bold; text-align:right">298</td>

Line: 2882,
<td style="font-weight: bold; text-align:right">43,472</td>

Line: 2883,
<td style="font-weight: bold; text-align:right">73,634</td>

Line: 2884,
<td style="font-weight: bold; text-align:right"><a href="/world-population/suriname-population/">590,381</a> </td>

Line: 2885,
<td data-continent="South America" style="display:none">South America</td>

Line: 2886,
<td>65</td>

Line: 2887,
<td>3,354</td>

Line: 2888,
<td>14</td>

Line: 2889,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">145</td>

Line: 2890,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/bahamas/">Bahamas</a></td>

Line: 2891,
<td style="font-weight: bold; text-align:right">8,800</td>

Line: 2892,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2893,
<td style="font-weight: bold; text-align:right;">186 </td>

Line: 2894,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2895,
<td style="font-weight: bold; text-align:right">7,676</td>

Line: 2896,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2897,
<td style="text-align:right;font-weight:bold;">938</td>

Line: 2898,
<td style="font-weight: bold; text-align:right">3</td>

Line: 2899,
<td style="font-weight: bold; text-align:right">22,226</td>

Line: 2900,
<td style="font-weight: bold; text-align:right">470</td>

Line: 2901,
<td style="font-weight: bold; text-align:right">72,346</td>

Line: 2902,
<td style="font-weight: bold; text-align:right">182,727</td>

Line: 2903,
<td style="font-weight: bold; text-align:right"><a href="/world-population/bahamas-population/">395,924</a> </td>

Line: 2904,
<td data-continent="North America" style="display:none">North America</td>

Line: 2905,
<td>45</td>

Line: 2906,
<td>2,129</td>

Line: 2907,
<td>5</td>

Line: 2908,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">146</td>

Line: 2909,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/togo/">Togo</a></td>

Line: 2910,
<td style="font-weight: bold; text-align:right">8,695</td>

Line: 2911,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2912,
<td style="font-weight: bold; text-align:right;">102 </td>

Line: 2913,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2914,
<td style="font-weight: bold; text-align:right">7,131</td>

Line: 2915,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2916,
<td style="text-align:right;font-weight:bold;">1,462</td>

Line: 2917,
<td style="font-weight: bold; text-align:right"></td>

Line: 2918,
<td style="font-weight: bold; text-align:right">1,033</td>

Line: 2919,
<td style="font-weight: bold; text-align:right">12</td>

Line: 2920,
<td style="font-weight: bold; text-align:right">258,830</td>

Line: 2921,
<td style="font-weight: bold; text-align:right">30,754</td>

Line: 2922,
<td style="font-weight: bold; text-align:right"><a href="/world-population/togo-population/">8,416,182</a> </td>

Line: 2923,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 2924,
<td>968</td>

Line: 2925,
<td>82,512</td>

Line: 2926,
<td>33</td>

Line: 2927,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">147</td>

Line: 2928,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/aruba/">Aruba</a></td>

Line: 2929,
<td style="font-weight: bold; text-align:right">8,664</td>

Line: 2930,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2931,
<td style="font-weight: bold; text-align:right;">82 </td>

Line: 2932,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2933,
<td style="font-weight: bold; text-align:right">8,188</td>

Line: 2934,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2935,
<td style="text-align:right;font-weight:bold;">394</td>

Line: 2936,
<td style="font-weight: bold; text-align:right">8</td>

Line: 2937,
<td style="font-weight: bold; text-align:right">80,904</td>

Line: 2938,
<td style="font-weight: bold; text-align:right">766</td>

Line: 2939,
<td style="font-weight: bold; text-align:right">116,989</td>

Line: 2940,
<td style="font-weight: bold; text-align:right">1,092,436</td>

Line: 2941,
<td style="font-weight: bold; text-align:right"><a href="/world-population/aruba-population/">107,090</a> </td>

Line: 2942,
<td data-continent="North America" style="display:none">North America</td>

Line: 2943,
<td>12</td>

Line: 2944,
<td>1,306</td>

Line: 2945,
<td>1</td>

Line: 2946,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">148</td>

Line: 2947,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/trinidad-and-tobago/">Trinidad and Tobago</a></td>

Line: 2948,
<td style="font-weight: bold; text-align:right">7,821</td>

Line: 2949,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2950,
<td style="font-weight: bold; text-align:right;">140 </td>

Line: 2951,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2952,
<td style="font-weight: bold; text-align:right">7,552</td>

Line: 2953,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2954,
<td style="text-align:right;font-weight:bold;">129</td>

Line: 2955,
<td style="font-weight: bold; text-align:right">2</td>

Line: 2956,
<td style="font-weight: bold; text-align:right">5,576</td>

Line: 2957,
<td style="font-weight: bold; text-align:right">100</td>

Line: 2958,
<td style="font-weight: bold; text-align:right">104,278</td>

Line: 2959,
<td style="font-weight: bold; text-align:right">74,339</td>

Line: 2960,
<td style="font-weight: bold; text-align:right"><a href="/world-population/trinidad-and-tobago-population/">1,402,729</a> </td>

Line: 2961,
<td data-continent="North America" style="display:none">North America</td>

Line: 2962,
<td>179</td>

Line: 2963,
<td>10,019</td>

Line: 2964,
<td>13</td>

Line: 2965,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">149</td>

Line: 2966,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/martinique/">Martinique</a></td>

Line: 2967,
<td style="font-weight: bold; text-align:right">7,309</td>

Line: 2968,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2969,
<td style="font-weight: bold; text-align:right;">47 </td>

Line: 2970,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2971,
<td style="font-weight: bold; text-align:right">98</td>

Line: 2972,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2973,
<td style="text-align:right;font-weight:bold;">7,164</td>

Line: 2974,
<td style="font-weight: bold; text-align:right">5</td>

Line: 2975,
<td style="font-weight: bold; text-align:right">19,488</td>

Line: 2976,
<td style="font-weight: bold; text-align:right">125</td>

Line: 2977,
<td style="font-weight: bold; text-align:right">113,150</td>

Line: 2978,
<td style="font-weight: bold; text-align:right">301,687</td>

Line: 2979,
<td style="font-weight: bold; text-align:right"><a href="/world-population/martinique-population/">375,057</a> </td>

Line: 2980,
<td data-continent="North America" style="display:none">North America</td>

Line: 2981,
<td>51</td>

Line: 2982,
<td>7,980</td>

Line: 2983,
<td>3</td>

Line: 2984,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">150</td>

Line: 2985,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/benin/">Benin</a></td>

Line: 2986,
<td style="font-weight: bold; text-align:right">6,818</td>

Line: 2987,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2988,
<td style="font-weight: bold; text-align:right;">90 </td>

Line: 2989,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 2990,
<td style="font-weight: bold; text-align:right">5,552</td>

Line: 2991,
<td style="font-weight: bold; text-align:right;"></td>

Line: 2992,
<td style="text-align:right;font-weight:bold;">1,176</td>

Line: 2993,
<td style="font-weight: bold; text-align:right">35</td>

Line: 2994,
<td style="font-weight: bold; text-align:right">552</td>

Line: 2995,
<td style="font-weight: bold; text-align:right">7</td>

Line: 2996,
<td style="font-weight: bold; text-align:right">521,218</td>

Line: 2997,
<td style="font-weight: bold; text-align:right">42,211</td>

Line: 2998,
<td style="font-weight: bold; text-align:right"><a href="/world-population/benin-population/">12,347,846</a> </td>

Line: 2999,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 3000,
<td>1,811</td>

Line: 3001,
<td>137,198</td>

Line: 3002,
<td>24</td>

Line: 3003,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">151</td>

Line: 3004,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/equatorial-guinea/">Equatorial Guinea</a></td>

Line: 3005,
<td style="font-weight: bold; text-align:right">6,736</td>

Line: 3006,
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+70</td>

Line: 3007,
<td style="font-weight: bold; text-align:right;">100 </td>

Line: 3008,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3009,
<td style="font-weight: bold; text-align:right">6,208</td>

Line: 3010,
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+87</td>

Line: 3011,
<td style="text-align:right;font-weight:bold;">428</td>

Line: 3012,
<td style="font-weight: bold; text-align:right">10</td>

Line: 3013,
<td style="font-weight: bold; text-align:right">4,692</td>

Line: 3014,
<td style="font-weight: bold; text-align:right">70</td>

Line: 3015,
<td style="font-weight: bold; text-align:right">106,588</td>

Line: 3016,
<td style="font-weight: bold; text-align:right">74,252</td>

Line: 3017,
<td style="font-weight: bold; text-align:right"><a href="/world-population/equatorial-guinea-population/">1,435,484</a> </td>

Line: 3018,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 3019,
<td>213</td>

Line: 3020,
<td>14,355</td>

Line: 3021,
<td>13</td>

Line: 3022,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">152</td>

Line: 3023,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/nicaragua/">Nicaragua</a></td>

Line: 3024,
<td style="font-weight: bold; text-align:right">6,582</td>

Line: 3025,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3026,
<td style="font-weight: bold; text-align:right;">176 </td>

Line: 3027,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3028,
<td style="font-weight: bold; text-align:right">4,225</td>

Line: 3029,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3030,
<td style="text-align:right;font-weight:bold;">2,181</td>

Line: 3031,
<td style="font-weight: bold; text-align:right"></td>

Line: 3032,
<td style="font-weight: bold; text-align:right">985</td>

Line: 3033,
<td style="font-weight: bold; text-align:right">26</td>

Line: 3034,
<td style="font-weight: bold; text-align:right"></td>

Line: 3035,
<td style="font-weight: bold; text-align:right"></td>

Line: 3036,
<td style="font-weight: bold; text-align:right"><a href="/world-population/nicaragua-population/">6,680,702</a> </td>

Line: 3037,
<td data-continent="North America" style="display:none">North America</td>

Line: 3038,
<td>1,015</td>

Line: 3039,
<td>37,959</td>

Line: 3040,
<td></td>

Line: 3041,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">153</td>

Line: 3042,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/djibouti/">Djibouti</a></td>

Line: 3043,
<td style="font-weight: bold; text-align:right">6,518</td>

Line: 3044,
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+17</td>

Line: 3045,
<td style="font-weight: bold; text-align:right;">63 </td>

Line: 3046,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3047,
<td style="font-weight: bold; text-align:right">6,055</td>

Line: 3048,
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15</td>

Line: 3049,
<td style="text-align:right;font-weight:bold;">400</td>

Line: 3050,
<td style="font-weight: bold; text-align:right"></td>

Line: 3051,
<td style="font-weight: bold; text-align:right">6,530</td>

Line: 3052,
<td style="font-weight: bold; text-align:right">63</td>

Line: 3053,
<td style="font-weight: bold; text-align:right">122,605</td>

Line: 3054,
<td style="font-weight: bold; text-align:right">122,823</td>

Line: 3055,
<td style="font-weight: bold; text-align:right"><a href="/world-population/djibouti-population/">998,223</a> </td>

Line: 3056,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 3057,
<td>153</td>

Line: 3058,
<td>15,845</td>

Line: 3059,
<td>8</td>

Line: 3060,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">154</td>

Line: 3061,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iceland/">Iceland</a></td>

Line: 3062,
<td style="font-weight: bold; text-align:right">6,097</td>

Line: 3063,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3064,
<td style="font-weight: bold; text-align:right;">29 </td>

Line: 3065,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3066,
<td style="font-weight: bold; text-align:right">6,033</td>

Line: 3067,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3068,
<td style="text-align:right;font-weight:bold;">35</td>

Line: 3069,
<td style="font-weight: bold; text-align:right">1</td>

Line: 3070,
<td style="font-weight: bold; text-align:right">17,785</td>

Line: 3071,
<td style="font-weight: bold; text-align:right">85</td>

Line: 3072,
<td style="font-weight: bold; text-align:right">520,502</td>

Line: 3073,
<td style="font-weight: bold; text-align:right">1,518,273</td>

Line: 3074,
<td style="font-weight: bold; text-align:right"><a href="/world-population/iceland-population/">342,825</a> </td>

Line: 3075,
<td data-continent="Europe" style="display:none">Europe</td>

Line: 3076,
<td>56</td>

Line: 3077,
<td>11,822</td>

Line: 3078,
<td>1</td>

Line: 3079,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">155</td>

Line: 3080,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/curacao/">Curaao</a></td>

Line: 3081,
<td style="font-weight: bold; text-align:right">5,676</td>

Line: 3082,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3083,
<td style="font-weight: bold; text-align:right;">23 </td>

Line: 3084,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3085,
<td style="font-weight: bold; text-align:right">4,774</td>

Line: 3086,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3087,
<td style="text-align:right;font-weight:bold;">879</td>

Line: 3088,
<td style="font-weight: bold; text-align:right">9</td>

Line: 3089,
<td style="font-weight: bold; text-align:right">34,489</td>

Line: 3090,
<td style="font-weight: bold; text-align:right">140</td>

Line: 3091,
<td style="font-weight: bold; text-align:right">60,650</td>

Line: 3092,
<td style="font-weight: bold; text-align:right">368,529</td>

Line: 3093,
<td style="font-weight: bold; text-align:right"><a href="/world-population/curacao-population/">164,573</a> </td>

Line: 3094,
<td data-continent="North America" style="display:none">North America</td>

Line: 3095,
<td>29</td>

Line: 3096,
<td>7,155</td>

Line: 3097,
<td>3</td>

Line: 3098,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">156</td>

Line: 3099,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/gambia/">Gambia</a></td>

Line: 3100,
<td style="font-weight: bold; text-align:right">5,153</td>

Line: 3101,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3102,
<td style="font-weight: bold; text-align:right;">160 </td>

Line: 3103,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3104,
<td style="font-weight: bold; text-align:right">4,760</td>

Line: 3105,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3106,
<td style="text-align:right;font-weight:bold;">233</td>

Line: 3107,
<td style="font-weight: bold; text-align:right">3</td>

Line: 3108,
<td style="font-weight: bold; text-align:right">2,091</td>

Line: 3109,
<td style="font-weight: bold; text-align:right">65</td>

Line: 3110,
<td style="font-weight: bold; text-align:right">52,941</td>

Line: 3111,
<td style="font-weight: bold; text-align:right">21,480</td>

Line: 3112,
<td style="font-weight: bold; text-align:right"><a href="/world-population/gambia-population/">2,464,654</a> </td>

Line: 3113,
<td data-continent="Africa" style="display:none">Africa</td>

Line: 3114,
<td>478</td>

Line: 3115,
<td>15,404</td>

Line: 3116,
<td>47</td>

Line: 3117,
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">157</td>

Line: 3118,
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/central-african-republic/">CAR</a></td>

Line: 3119,
<td style="font-weight: bold; text-align:right">5,075</td>

Line: 3120,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3121,
<td style="font-weight: bold; text-align:right;">64 </td>

Line: 3122,
<td style="font-weight: bold;
                                    text-align:right;"></td>

Line: 3123,
<td style="font-weight: bold; text-align:right">4,938</td>

Line: 3124,
<td style="font-weight: bold; text-align:right;"></td>

Line: 3125,
<td style="text-align:right;font-weight:bold;">73</td>

Line: 3126,
<td style="font-weight: bold; text-align:right">2</td>

Line: 3127,
<td style="font-weight: bold; text-align:right">1,038</td>

Line: 3128,
<td style="font-weight: bold; text-align:right">13</td>

Line: 3129,
<td style="font-weight: bold; text-align:right">37,104</td>

Line: 3130,
<td style="font-weight: bold; text-align:right">7,589</td>
