In [1]:
#installing packages
!pip3 install pandas beautifulsoup4 matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
#importing all needed packages!
try:
    from bs4 import BeautifulSoup as bf
    import pandas as pd
    import requests as re
    import matplotlib.pyplot as plt
except Exception as e:
    print(f'Error Importing Packages!? \n\n{e}')

In [3]:
#starting with requesting the page, and getting response [200]
#for asia region only: https://www.worldometers.info/coronavirus/#c-asia%22
url = 'https://www.worldometers.info/coronavirus/#countries' 
req = re.get(url)
#seeing the response code
print(f'Response Code: {req}')

Response Code: <Response [200]>

In [4]:
#now we gonna start by extracting all page data to start then EDA!
soup = bf(req.content, 'html.parser')

In [5]:
#now we gonna extract only the table its the important thing!
res = soup.find(id="main_table_countries_today")

In [6]:
#let us now extract the columns by just getting data between <td>!
content = res.find_all('td')

In [7]:
#now the fun part starts!
#we gonna inset all needed data into a list[] to start then playing with it!
data = []
for item in content:
  data.append(item.text.strip())

In [8]:
#making interval when new row in table starts
interval = data.index("USA") - data.index("World")
#Populate lists for dictionary
countries    = data[1::interval]
new_cases    = data[3::interval]
new_deaths   = data[5::interval]
total_cases  = data[2::interval]
total_deaths = data[4::interval]
total_recover= data[5::interval]

In [9]:
#now we adding lists to covid_table dictionary
#and we are ready to start manipulating and wrangling data!
covid_tab = {"country/region":countries, "new_cases":new_cases, "new_deaths":new_deaths,
             "total_cases":total_cases, "total_deaths":total_deaths, "total_recovery":total_recover}

In [10]:
#let us now convert the dict to a pandas dataframe,
#then converting the dataframe into csv file!
cov_data = pd.DataFrame.from_dict(covid_tab, orient='index')
cov_data = cov_data.transpose()

In [11]:
#now let us see the data
cov_data.head()

  country/region new_cases new_deaths total_cases total_deaths total_recovery
0  North America   +22,557       +508  35,186,056      805,102           +508
1  South America    +6,156        +65  20,108,383      520,367            +65
2           Asia  +131,594     +1,072  27,220,157      418,541         +1,072
3         Europe  +141,057     +3,495  37,886,614      884,770         +3,495
4         Africa    +4,220       +122   4,152,243      110,527           +122

In [12]:
#splitting needed countries into two variables,
#and then we converting it into .csv file!
ksaData = cov_data.iloc[49:50]
joData  = cov_data.iloc[43:44]
#displaying both countries at once!
display(ksaData)
display(joData)

   country/region new_cases new_deaths total_cases total_deaths total_recovery
49   Saudi Arabia      +410         +5     385,834        6,618             +5

   country/region new_cases new_deaths total_cases total_deaths total_recovery
43         Jordan    +9,003        +92     553,727        6,077            +92

In [14]:
#saving to .csv files
cov_data.to_csv('./data/day4.csv', index = False, header=True)
ksaData.to_csv('./data/ksa4.csv', index = True, header=False)
joData.to_csv('./data/jordan4.csv', index = True, header=False)